<h1>Account#index</h1>
<p>Find me in app/views/account/index.html.erb</p>

NAME:<%= @user.name %>

<br>
PASSWD: <%= @user.passwd %>
<br>

<%=link_to "Go To timeline",:controller =>"timeline" %>

<hr>
<%=button_to "logout",:action => "logout" %>
